<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">Foodbar</a>
    <form action="/logout" method="POST" class="d-flex" role="search">
      <button class="btn btn-outline-success" type="submit">Logout</button>
    </form>
  </div>
</nav>
